{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3 center">
        <select class="form-control mx-auto w-auto" style="min-width: 200px" name="symbol" id="symbol">
            <option value="" selected disabled hidden>Choose share</option>
            {% for symbol in symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares"
            placeholder="Shares Amount" type="number" min="1" require>
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}